---
title: Summary
_render: false
---

div.summary.section
  div.summary-big.wow.fadeInUp
    h1 We are Built By
      span.accent Charlie
  div.summary-box.wow.fadeInUp
    p a small web design and development house based in New England. We take pride in building websites that are elegant and easy to use. We are pleased to service the bio-medical, small business and non-profit sectors.
    p: a(href='/about.html') Tell me more...