---
title: CureMap
link: http://www.curemap.org/
image: curemap/cure-home.jpg
tagline: An interactive map of clinical trials
_content: false
---

extends ../../../views/single_project
block projects-content
  :marked
    ![image](assets/curemap/cm-laptop.png)
    ![image](assets/curemap/cm-responsive.png)
    ![image](assets/curemap/cm-section iphone.png)
    CureMap's interactive map aggregates, curates and presents current human clinical trials for spinal cord injury.  CureMap's goal is to provide an easy to use interface that encourages users to learn about approved human trials derived from clinicaltrials.gov. 
