---
title: Dreamachine
link: http://dreamachine.co/
image: dreamachine/dr-home.jpg
tagline:  A key to visionary experience 
_content: false
---

extends ../../../views/single_project
block projects-content
  :marked
    ![image](assets/dreamachine/dream-responsive.jpg) 
    ![image](assets/dreamachine/dream-phone.png) 
    ![image](assets/dreamachine/dream-phone2.png) 
  The Dreamachine is a meditative device that modulates brain rhythms through light stimulation.

  The Dreamachine is a mobile & desktop javascript app. It is a meditative device which induces color patterns by modulating brain rhythms through light stimulation.