---
title: Uncle J's Monsters
link: http://www.unclejsmonsters.net
image: /ujm/monsters.png
tagline: Uncle J's Monsters tag
_content: false
slider: ["../assets/ujm/monsters-header.png"]
---

extends ../../../views/single_project
block projects-content
	:marked
		## Home
		![image](assets/ujm/home.jpg)
		## Contact
		![image](assets/ujm/contact.jpg)
		## iphone + ipad
		![image](assets/ujm/ujm-iphone.jpg)
		![image](assets/ujm/ujm-ipad-home.jpg)
		![image](assets/ujm/ujm-ipad.jpg)
				Uncle J’s wild and gregarious monsters begin their leisurely stroll from Facebook on to their online grotto.

		#### Features
		- Easy to maintain sliding banners and portfolio graphics.
		- Share monsters with friends and family on Facebook and Twitter.
		- Easy to access and monitor objectives site metrics.
		- A responsive design that is optimized for mobile devices.
		- Jquery custom contact box for contacting Uncle J.

		The site is built on an open source WordPress content management system which promotes simple maintenance and future adaptation.
