---
title: Bubbles & Boxes Exhibit July 2011
date: 2011-07-25
snippet: This past July, 2011, I had my first month-long gallery exhibition, "Bubbles &amp; Boxes". The pieces were selected from a collection of abstract oil paintings and digitally generated artwork from the past few years.
thumbnail: assets/thumbnail.jpg
_content: false
---

extends ../views/news_single
block news-content
  :marked
    Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

    ![Bubbles](exhibits/assets/topsfield-exhibit-2011-2.jpg)

    Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.


    ![Exhibit 2011](exhibits/assets/topsfield-exhibit-2011-3.jpg)
